html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #313940;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 0;
}

a:focus {
  outline: 0;
}
