.btn {
  flex: 1;
  min-width: 120px;
  height: 40px;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 2px;
  background-color: #454c53;
  @extend %transition;
  cursor: pointer;

  &:not(.btn-active) {
    &:hover {
      background-color: #515961;
    }
  }

  &:active {
    background-color: #00c9b7;
  }

  &.btn-active {
    background-color: #00b4a4;

    &:hover {
      background-color: #00c9b7;
    }
  }

  &.btn-load {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .btn-load-input {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
    }
  }

  &.btn-fullscreen {
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center;
  }

  &.open-fullscreen {
    background-image: url('./assets/fullscreen/open.svg');
  }

  &.close-fullscreen {
    display: none;
    background-image: url('./assets/fullscreen/close.svg');
    background-color: #00b4a4;

    &:hover {
      background-color: #00c9b7;
    }
  }
}

@media (max-width: $media-width-tablet) {
  .btn {
    min-width: 45%;

    &.btn-fullscreen {
      background-size: 5.5%;
    }
  }
}

@media (max-width: $media-width-phone) {
  .btn {
    min-width: 145px;
  }
}
