.header {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background: #313940;
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a);

  .header-title {
    font-size: 3.2rem;
    line-height: 6rem;
    font-weight: 300;
    color: #fff;
  }

  .arguments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .filter-arguments {
      text-align: center;
      width: 410px;
      font-size: 1.4rem;
      font-weight: 300;
      color: #fff;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  .copy {
    margin-bottom: 15px;
  }
}
