.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1140px;
  min-height: calc(100vh - 110px);
  margin: 0 auto;
  padding: 58px 10px 0;
}

.filters {
  width: 100%;
  max-width: 40%;
  padding-top: 50px;
  margin-bottom: 40px;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /*  padding: 2px; */
  user-select: none;

  > * {
    margin-right: 10px;
  }

  .btn-fullscreen {
    margin-right: 0;
  }
}

img {
  height: 100%;
  width: 100%;
  max-width: 672px;
  max-height: 420px;
  margin: 0 auto;
  object-fit: cover;
  filter: blur(var(--blur, 0px)) Invert(var(--invert, 0%))
    sepia(var(--sepia, 0%)) saturate(var(--saturate, 100%))
    hue-rotate(var(--hue, 0deg));
}

@media (max-width: $media-width-tablet) {
  .main {
    flex-wrap: wrap;
    padding-top: 40px;
  }

  .filters,
  .editor {
    max-width: 100%;
    padding-top: 0;
  }

  .btn-container {
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

    > * {
      margin: 10px;
    }

    .btn-fullscreen {
      margin-right: 10px;
    }
  }

  .img-container {
    margin-bottom: 30px;
  }
}

@media (max-width: $media-width-phone) {
  .btn-container {
    > * {
      margin: 3px;
    }

    .btn-fullscreen {
      margin-right: 3px;
    }
  }

  .img-container {
    margin-bottom: 20px;
  }
}
